{% extends 'base.html.twig' %}
{% block title %}Bienvenido@{% endblock title %}
{% block invar %} {{parent()}}
{% endblock invar %}
{% block contenido %}

<h1>Agregar un Profesor <hr></h1>

<form action="./updateProf.php" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="rut">Rut</label>
      <input type="text" name="per_rut" class="form-control" pattern="[0-9]{7,8}[0-9]|[0-9]{7,8}[kK]" placeholder="176796448" required />
    </div>
    <div class="form-group col-md-6">
      <label for="nombres">Nombres</label>
      <input type="text" name="per_nombre" class="form-control" placeholder="Dominga" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="ap_pat">Apellido Paterno</label>
      <input type="text" name="per_apellido_paterno" class="form-control" placeholder="Bravo" required />
    </div>
    <div class="form-group col-md-6">
      <label for="ap_mat">Apellido Materno</label>
      <input type="text" name="per_apellido_materno" class="form-control" placeholder="Guerino" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="password">Contraseña</label>
      <input type="text" name="per_password" class="form-control" required />
    </div>
    <div class="form-group col-md-4">
      <label for="carrera">Carrera</label>
      <select name="selFac">
        {% for carrera in carreras %}
          <option value="{{ carrera.car_id }}">{{ carrera.car_descripcion }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="selUsu">Tipo Usuario</label></br>
      <select name="selUsu">
        {% for usuario in usuarios %}
          <option value="{{ usuario.tusu_id }}">{{ usuario.tusu_descripcion }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-danger float-right" onclick="history.go(-1); return false;">Volver</button>
  <button type="submit" class="btn btn-primary float-right">Crear</button>
</form>
{% endblock contenido %}
{% block piePagina %}
{% endblock piePagina %}
